<!-- menu.html -->
<header class="menu-celeste">
  <nav>
    <ul>
      <li><a href="/index.html">Accueil</a></li>
      <li><a href="/bases/base.html">Bases</a></li>
      <li><a href="/psycho/psychologie.html">Psychologie</a></li>
      <li><a href="/spirit/spiritualite.html">Spiritualité</a></li>
      <li><a href="/communication/communication.html">Communication</a></li>
      <li><a href="/magnetisme/magnetisme.html">Magnétisme</a></li>
      <li><a href="/forum.html">Forum</a></li>
    </ul>
  </nav>
</header>
